*.log

dist
.mypy_cache
.conda
build
*.profraw


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# add build directory
build/*
out/*
.vs/*
.vscode/*

# doxygen
Documents/doxygen/*

# cmake configure file
Src/GraphicsEngineOpenGL/renderer/VulkanRendererConfig.hpp
Src/GraphicsEngineVulkan/renderer/OpenGLRendererConfig.hpp
