[submodule "ExternalLib/TINY_OBJ_LOADER"]
	path = ExternalLib/TINY_OBJ_LOADER
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "ExternalLib/GLM"]
	path = ExternalLib/GLM
	url = https://github.com/g-truc/glm
[submodule "ExternalLib/IMGUI"]
	path = ExternalLib/IMGUI
	url = https://github.com/ocornut/imgui
[submodule "ExternalLib/STB"]
	path = ExternalLib/STB
	url = https://github.com/nothings/stb
[submodule "ExternalLib/GLFW"]
	path = ExternalLib/GLFW
	url = https://github.com/glfw/glfw
[submodule "ExternalLib/VULKAN_MEMORY_ALLOCATOR"]
	path = ExternalLib/VULKAN_MEMORY_ALLOCATOR
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "ExternalLib/NLOHMANN_JSON"]
	path = ExternalLib/NLOHMANN_JSON
	url = https://github.com/nlohmann/json
[submodule "ExternalLib/GOOGLE_BENCHMARK"]
	path = ExternalLib/GOOGLE_BENCHMARK
	url = https://github.com/google/benchmark.git
[submodule "ExternalLib/SPDLOG"]
	path = ExternalLib/SPDLOG
	url = https://github.com/gabime/spdlog
[submodule "ExternalLib/FUZZTEST"]
	path = ExternalLib/FUZZTEST
	url = https://github.com/google/fuzztest
